body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes colorChange { /*this changes the h1 colors*/
    0% {
        color: rgb(179, 145, 8);
    }
    50% {
        color: rgba(194, 157, 8, 0.93);
    }
    100% {
        color: rgb(179, 145, 8);
    }
}

.headline{

    
    h1 {
        text-align: center; /* Center horizontally */
        margin-top: 0; /* Adjust the top margin as needed */
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: auto;
        padding-bottom: auto;
        font-family: "Lora", serif;
        animation: colorChange 3s infinite; /* Add the animation */
    }
    

    h2 {
        text-align: center; /* Center horizontally */ 
        margin-top: 0; /* Adjust the top margin as needed */ 
        position: absolute;
        top: 50px; /* Adjust the top value to position it just under the h1 */ 
        left: 50%;
        transform: translateX(-50%);
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation: colorChange 3s infinite; /* Add the animation */
    }


}

nav {
    display: flex; 
    justify-content: center; 
    gap: 20px; /* Adjust the gap between images as needed */ 
    background-color: rgb(241, 224, 184);
    width: 100%; /* Make the streak span the full width of the page */ 
    padding: 60px;
    padding-top: 100px;
}

nav img {
    width: 550px; 
    height: 500px;
    max-width: none; 
}

nav .rounded-image {
    border-radius: 50px;
}


/*Grid*/
.displayGrid { display: flex; 
    justify-content: space-between; /* Distribute space between items */ 
    padding: 20px;
}

.table-container-island {
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px; /* Add some space between the images and the table */

    flex: 1; /* Make items take up equal space */ 
    margin-top: 20px; /* Add some space between the images and the table */ 
    margin: 0 10px; /* Add space between items */ 
    max-width: 45%; /* Adjust the maximum width as needed */
}

table {
    width: 100%; /* Make the table take up the full width of the container */
    border-collapse: collapse;
}

th, td {
    width: 100%; /* Make the table cells take up the full width */
    padding: 8px;
}


td, h3 {
    padding: 8px;
}

td, p { margin-left: 50px; /* Adjust the value to set the desired indentation */ 
    padding: 8px; 
}

.table-container-universal {
    width: 80%; /* Adjust the width as needed */
    margin-top: 20px; /* Add some space between the images and the table */


    flex: 1; /* Make items take up equal space */ 
    margin-top: 20px; /* Add some space between the images and the table */ 
    margin: 0 10px; /* Add space between items */ 
    max-width: 45%; /* Adjust the maximum width as needed */
}

table {
    width: 100%; /* Make the table take up the full width of the container */
    border-collapse: collapse;
}

th, td {
    width: 100%; /* Make the table cells take up the full width */
    padding: 8px;
}